.float-nav {
  text-align: right;
  background-color: rgba(lightblue, 0.8);

  position: fixed;
  overflow: hidden;
  right: 0;
  top: 50%;

  transform: translateY(-50%);
  transition: width ease-in-out 300ms;

  width: 30px;
  min-height: 30px;

  &__toggle {
    text-align: center;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
  }

  &__list {
    list-style: none;
    white-space: nowrap;
    position: relative;
  }

  &__element {
    height: 30px;
    cursor: pointer;

  }

  &__link {
    height: 30px;
    position: absolute;

    right: 0;
  
    color: black;
    font-weight: 500;
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }
    
    &::after {
      text-align: center;
      content: '⚫';
      display: inline-block;

      width: 30px;
      height: 30px;
    }

    &--current {
      font-weight: 700;
    }
  }

  &--opened {
  }
}