.parallax {
  position: relative;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;  
  transform: translateY(0px);

  overflow: hidden;
  
  padding: 2.5rem;
  min-height: 50vh;

  &__title {
    font-size: 3rem;
    font-style: italic;
  }

  &__paragraph {
    margin-top: 1rem;
    width: 66.6%;
  }

  &__figure {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
  
  &__image {
    width: 100%;
  }

  &--light {
    color: white;
  }

  &--dark {
    color: black;
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    min-height: 0;

    &__figure {
      height: auto;
      position: relative;
      margin-bottom: -0.2rem;
    }

    &__body {
      position: relative;
      background-color: aquamarine;
      padding: 2.5rem;

      &--has-triangle::before {
        content: ' ';
        display: block;
        position: absolute;
        top: -20px;
        left: 2.5rem;

        width: 0;
        height: 0;
        
        border-style: solid;
        border-width: 20px 0 0 20px;
        border-color: transparent transparent transparent aquamarine;
      }
    }
  }
}