$per: 1px;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
}

.site {
    margin: 0 auto;
    display: grid;
    min-height: 100vh;
    grid-template-areas: "head"
        "nav"
        "main"
        "foot";
    grid-template-columns: 100%;
    grid-template-rows: 200px 100px minmax(min-content, auto) 100px;

    &__element {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__header {
        grid-area: head;
        background-color: tomato;
    }

    &__nav {
        grid-area: nav;
        background-color: antiquewhite;
    }

    &__main {
        grid-area: main;
    }

    &__footer {
        grid-area: foot;
        background-color: rebeccapurple;
        padding: 1rem;
        color: rosybrown;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }

    @media screen and (max-width: 1200px) {
        width: 900px;
    }

    @media screen and (max-width: 900px) {
        width: 768px;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
    }
}